# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.CtsBViewer.iml
# Datasource local storage ignored files
/../../../../../../../:\giovanni\unreal\CtsBViewer\.idea\.idea.CtsBViewer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
